<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeetingApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 2rem;
            background-color: #f0f0f0;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        a {
            margin: 1rem;
            text-decoration: none;
            color: #007BFF;
            font-size: 1.2rem;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            padding: 1rem;
        }

    </style>
</head>
<body>
<h1>MeetingApp</h1>
<div>
    <a href="/register/">Регистрация</a>
    <a href="/login/">Вход</a>
</div>
<footer>
    <P> Озерная Вероника ИКБО-30-22, КР "Разработка клиент-серверных приложений" 6 семестр</p>
</footer>
</body>
</html>
